header.global .nav-courseware {
  margin-left: 15px;
}

.location {
  border-left: 2px solid gray;
  position: relative;
  float: left;
  margin-top: -15px;
  padding: 3px 0 0 5px;
  height: 65px;
  /*&.open &-all {display:block;}*/ }
  .location-current {
    font: 36px/36px "Roboto Condensed", sans-serif;
    cursor: pointer;
    color: #126f9a;
    padding: 13px 25px 13px 16px;
    position: relative;
    width: auto; }
  .location.open .location-current {
    background: #d2d6d8;
    color: #003f73; }
  .location-expand {
    background: url('../images/location-arrow.png') no-repeat 0px 0px;
    width: 16px;
    height: 14px;
    display: block;
    float: right;
    position: relative;
    top: -21px;
    right: -8px; }
  .location.open .location-expand {
    background-position: 0px -20px; }
  .location-all {
    display: none;
    position: absolute;
    width: 100%;
    background: #d2d6d8;
    list-style: none;
    padding: 16px;
    z-index: 2; }
    .location-all li {
      font: 26px "Roboto Condensed", sans-serif; }
      .location-all li a {
        color: #004b88;
        text-decoration: none; }
        
footer#footer {
  background: #004b88;
  width: 100%;
  padding: 30px 0 0 0; }
  footer#footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  footer#footer .areas-block {
    float: left;
    width: 30%; }
    footer#footer .areas-block figure {
      float: left;
      width: 88px;
      margin-top: 9px; }
      footer#footer .areas-block figure img {
        width: 88px; }
    footer#footer .areas-block ul {
      border-left: 1px solid #6ca1cd;
      float: left;
      margin-left: 20px;
      padding: 10px 0 20px 0; }
      footer#footer .areas-block ul li {
        font: 20px/27px "Roboto Condensed", sans-serif;
        color: #fff;
        padding-left: 20px; }
        footer#footer .areas-block ul li a {
          color: #fff;
          text-decoration: none; }
  footer#footer .footer-col {
    width: 16%;
    margin-left: 1.5%;
    float: left; }
    footer#footer .footer-col h2 {
      font: 20px/27px "Roboto Condensed", sans-serif;
      color: #fff;
      margin: 15px 0; }
    footer#footer .footer-col ul li {
      font: 12px/18px "Open Sans", sans-serif; }
      footer#footer .footer-col ul li a {
        color: #f0f0f0;
        text-decoration: none; }
        footer#footer .footer-col ul li a:hover {
          text-decoration: underline; }
  footer#footer #footer-bottom {
    background: #003f73;
    margin: 65px 0 0 0;
    padding: 15px 0;
    height: 32px; }
    footer#footer #footer-bottom .terms {
      float: left; }
      footer#footer #footer-bottom .terms li {
        font: 13px/15px "Open Sans", sans-serif; }
        footer#footer #footer-bottom .terms li a {
          color: #fff;
          text-decoration: none; }
    footer#footer #footer-bottom p {
      float: left;
      font: 13px/16px "Open Sans", sans-serif;
      color: #fff;
      margin: 0 20px 0 21%; }
    footer#footer #footer-bottom address {
      font: normal 13px/16px "Open Sans", sans-serif;
      float: right;
      color: #fff; }